<h1>Convert <%=@base_currency%></h1>

<!--<link to homepage>-->

<ul>

  <% @currencies.each do |a_currency| %>
  <li> 
  Convert 1 <%=@base_currency%> to <%=a_currency%>...
  </li>

  <% end %>
</ul>
